body {
    margin: 0;
    font-family: '微軟正黑體', sans-serif;
  }

img {
    max-width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none;
}


/* ------ 產品介紹區塊3 ------ */
.card_button{
    width: 100px;
    height: 50px;
    background-color: #fafd57;
    color: #000000;
    font-size: 18px;
    border-radius: 1.0em;
    -webkit-border-radius: 1.0em;
    -moz-border-radius: 1.0em;
    -ms-border-radius: 1.0em;
    -o-border-radius: 1.0em;
    margin-top: 20px;
    text-align: center;
    padding: 12px;
}


.card_padding{
    padding-top: 50px !important;
}


/* 頁腳 */

.footer {
    background-color: #000000;
    padding: 15px 0;
}

.footer_logo img {
    max-width: 100px;
}



.footer_copyright {
    color: #f1ff29;
    font-size: 10px;
}

.footer_SS {
    color: #ffffff;
    font-size: 10px;
}

.footer_icon img{
    padding-left:440px;
    padding-bottom:10PX;
}
